<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>PayMyBuddy - Transfert</title>
	<link rel="stylesheet" th:href="@{/css/styleHeader.css}">
	<link rel="stylesheet" th:href="@{/css/transfer.css}">
</head>
<body>

<!-- inclusion du header : on passe 'transfer' en param -->
<div th:replace="~{fragments/header :: header('transfer')}"></div>

<main>
	<!-- Bloc n°1 : formulaire de transfert -->
	<form th:object="${transferForm}" method="post" action="/transfer">
		<div class="transfer-top">
			<!-- Sélectionner une relation -->
			<label for="relation-select" class="visually-hidden">Relation</label>
			<select class="control" id="relation-select" th:field="*{relation}">
				<option value="">Sélectionner une relation</option>
				<option th:each="friend : ${friends}"
				        th:value="${friend.userName}"
				        th:text="${friend.userName}">
				</option>
			</select>
			
			<!-- Description -->
			<label for="description-input" class="visually-hidden">Description</label>
			<input class="control" type="text" id="description-input" th:field="*{description}" placeholder="Description"/>
			
			<!-- Montant -->
			<label for="montant-input" class="visually-hidden">Montant (€)</label>
			<input class="control" type="number" id="montant-input" th:field="*{montant}"
			       th:value="${#numbers.formatDecimal(0,1,'DEFAULT',2,'DEFAULT')}" min="0" step="0.01"
			       placeholder="0€"/>
			
			<!-- Bouton Payer -->
			<button class="btn-pay">Payer</button>
		</div>
	</form>
	
	<!-- Bloc n°2 : Historique des transactions -->
	<div class="transactions-wrapper">
		
		<table class="transactions-table">
			<caption>
				Mes Transactions
			</caption>
			<thead>
			<tr>
				<th scope="col">Relations</th>
				<th scope="col">Description</th>
				<th scope="col">Montant</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="tx : ${transactions}">
				<th scope="row" th:text="${tx.relation}"></th>
				<td th:text="${tx.description}"></td>
				<td th:text="${#numbers.formatDecimal(tx.montant, 1, 'DEFAULT', 2, 'DEFAULT')} + '€'"></td>
			</tr>
			</tbody>
		</table>
	
	</div>

</main>

</body>
</html>
